<form action="/tareas/agregar" method="post">

    <div>
        <label for="titulo">Escribe un titulo:</label>
        <input type="text" name="titulo" placeholder="Titulo" id="titulo">
    </div>

    <div>
        <label for="descripcion">Escribe una descripcion:</label>
        <textarea name="descripcion" placeholder="Descripción..." id="descripcion"></textarea>
    </div>

    <button>Guardar</button>

</form>